@import "../../sharedStyles.scss";

.login {
  justify-content: center;
  text-align: center;
  padding: 0;
  margin: auto;

  .loginForm {
    background-color: $primaryBackground;
    border-radius: 25px;
    padding: 14px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    box-shadow: 5px 10px 8px $primaryShadow;

    h1 {
      cursor: default;
      color: $primaryWhite;
    }

    .email,
    .password {
      text-align: left;
      font-size: 1.4rem;
      font-weight: 500;
    }

    input[type="email"],
    input[type="password"] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid $primaryBorder;
      box-sizing: border-box;
    }

    input[type="submit"] {
      background-color: $primaryBlack;
      color: $primaryWhite;
      padding: 10px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 60%;
      font-size: 1.4rem;
    }
  }
}
